<div class="page">
  <header class="header">
    <form class="form-login">
      <input class="form-input" type="text" name="login" placeholder="login">
      <input class="form-input" type="text" name="name" placeholder="name">
      <input class="form-input" type="text" name="password" placeholder="password">
      <div class="actions">
      <button class="btn-login">Войти</button>
      <button class="btn-register">Регистрация</button>
      </div>
    </form>
    <div class="user-info">
      <h2 class="user-name">Name</h2>
      <p class="user-victory-price">Сумма выйргыша</p>
    </div>
    <div class="answers">
      <ul class="question-table">
        <li class="question">1000000</li>
        <li class="question">500000</li>
        <li class="question">250000</li>
        <li class="question">100000</li>
        <li class="question">50000</li>
        <li class="question">25000</li>
        <li class="question">15000</li>
        <li class="question">10000</li>
        <li class="question">5000</li>
        <li class="question">2500</li>
        <li class="question">1000</li>
        <li class="question">500</li>
        <li class="question">400</li>
        <li class="question">300</li>
        <li class="question">200</li>
        <li class="question">100</li>
      </ul>
    </div>
  </header>
  <main class="main">
    <div class="logo">
      <h1 class="logo__title">Elbrus Game</h1>
    </div>
    <div class="answres-user">
      <h2></h2>
      <ul class="answer-table">
        <li class="answer"></li>
        <li class="answer"></li>
        <li class="answer"></li>
        <li class="answer"></li>
      </ul>
    </div>
  </main>
</div>
